doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/scss/style.css")
        title Document
    body 
        header.header
            .container.header-container 
                h2.header-logo MalabarHut
                
                nav.header-nav 
                    a.nav-link(href="#") Home
                    a.nav-link(href="#") Menu
                    a.nav-link(href="#") About
                    a.nav-link(href="#") Contact
                    a.nav-link(href="#") Contact

        main.main 
            section.hero 
                .hero-left 
                    h2.hero-you Are you Hungry?
                    h2.hero-main-h Don’t Wait!
                    h3.hero-lets Let’s start order food now
                    button.hero-left-btn Check Menu
                    

                .hero-right 
                    img(src="/images/left.png", alt="")